<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Prueba41</title>
=======
  <title>Prueba</title>
>>>>>>> dd22eab6b723b17872c6e3f92f5d5923fe858b3b
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
